body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

 .message {
    display: block;
    white-space:normal;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    width: 100%;
    color:darkred;
    font-size: medium;
}

.price-suggestion > a {
    font-size:large;
}

a.contact {
    font-size: large;
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    #showMe {
        margin: 0 0 0 16px;
        border: 0.1em solid #808080;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    #showMe {
        margin: 0 0 0 16px;
        border: 0.1em solid #808080;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #showMe {
        margin: 0 0 0 16px;
        border: 0.1em solid #808080;
    }
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #showMe {
        margin-top: 25px;
        border: 0.1em solid #808080;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #showMe {
        margin-top: 25px;
        border: 0.1em solid #808080;
    }
}