@using Microsoft.AspNet.Identity;
@using MoveItDemo.Models.ViewModels;
@if (Request.IsAuthenticated)
{
    <input type="hidden" id="Username" value="@Html.Raw(User.Identity.GetUserName())" />

    <div id="fromToDestination">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <br />
                <h2>Ange startpunkt och destination</h2>
                <br />
            </div>
            <input type="hidden" name="travelMode" value="DRIVING" />
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="form-group">
                    <div class="input-group-prepend"><b>Från:</b></div>
                    <input id="travelfrom" class="form-control" type="text" name="name" enabled="true" value="" />
                </div>
            </div>
            <div class="col-md-offset-2 col-lg-offset-2">
                <div class="form-group">
                    <input class="btn btn-xs" type="button" id="showMe" title="Om du vill ange startpunkt där du är" value="Använd nuvarande plats" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="form-group">
                    <div class="input-group-prepend"><b>Till: </b></div>
                    <input id="travelto" class="form-control" type="text" name="name" enabled="true" value="" />
                </div>
                <div class="form-group">
                    <input type="button" id="GetRoute" onclick="GetRoute();" value="Hämta rutt" />
                </div>
                <div class="form-group">
                    <input type="button" id="GetFormForPriceSuggestion" value="Ange uppgifter för prisförslag" />
                </div>
            </div>
        </div>

        <div id="result"></div>

        <div id="info">
            <span id="hdDistance"></span>
            <span id="dvDistance"></span>
            <span id="ftDistance"></span><br />
            <span id="hdOrigin"></span>
            <span id="dvOrigin"></span><br />
            <span id="hdDestination"></span>
            <span id="dvDestination"></span>
        </div>

        <div class="row">
            <br />
            <div id="map" style="min-height:250px"></div>
        </div>
        <div id="googleMap"></div>
    </div>

    <div id="PriceSuggestion"></div>
    <div id="OrderConfirmation"></div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <form id="check-price-form">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <br />
                        <h2>Ange upgifter för prisförslag</h2>
                        <br />
                    </div>
                    <input type="hidden" name="travelMode" value="DRIVING" />
                </div>
                <div class="form-group">
                    <label class="form-check-label" for="firstname">Förnamn</label>
                    <input type="text" class="form-control" id="firstname" name="first_name" />
                    <span id="firstnameoutput"></span>
                </div>
                <div class="form-group">
                    <label class="form-check-label" for="lastname">Efternamn</label>
                    <input type="text" class="form-control" id="lastname" name="last_name" />
                    <span id="lastnameoutput"></span>
                </div>
                <div class="form-group">
                    <label class="form-check-label" for="username">Användarnamn</label>
                    <input type="text" class="form-control" id="username" name="user_name" />
                </div>
                <div class="form-group">
                    <label class="form-check-label" for="fromname">Från</label>
                    <input type="text" class="form-control" id="fromname" name="from_name" />
                </div>
                <div class="form-group">
                    <label class="form-check-label" for="tocheck">Till</label>
                    <input type="text" class="form-control" id="toname" name="to_name" />
                </div>
                <div class="form-group">
                    <label class="form-check-label" for="distancecheck">Avstånd i km</label>
                    <input type="text" class="form-control" id="distance" name="distance" />
                </div>
                <div class="form-group">
                    <label class="form-check-label" for="residencearea">Bostadsyta i kvm</label>
                    <input type="text" class="form-control" id="residencearea" name="residence_area" />
                    <span id="rareaoutput"></span>
                </div>
                <div class="form-group">
                    <label class="form-check-label" for="windbasementarea">Vind/källare i kvm</label>
                    <input type="text" class="form-control" id="windbasementarea" name="wind_basement_area" />
                    <span id="wbareaoutput"></span>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="pianostatus" id="pianocheck" />
                    <label class="form-check-label" for="pianocheck">Pianostatus</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="packingstatus" id="packingcheck" />
                    <label class="form-check-label" for="packingcheck">Packhjälp</label>
                </div>
                <br />
                <div class="form-group-btn">
                    <input type="button" id="view-price-suggestions-btn" value="Se prisförslag" />
                    <input type="button" id="close-btn" value="Stäng" />
                </div>
            </form>
        </div>
    </div>
}


<script type="text/javascript">
    $(function () {
        if (window.location.href.indexOf("/#/api/PriceOffer/GetPriceOffer?id=") > -1) {
            $("#fromToDestination").hide();
            $("#check-price-form").hide();
        } else {
            $("#check-price-form").hide();
            $("#view-price-suggestions-btn").show();
        }
    });

    // Getting form and values for pricerequest
    $("#GetFormForPriceSuggestion").on("click", function () {
        $("#fromToDestination").hide();
        var travelfrom = $("#dvOrigin").text();
        var travelto = $("#dvDestination").text();
        var distance = $("#dvDistance").text();

        if (travelfrom == "" && travelto == "" && distance == "") {
            $("#result").text("Tryck på hämta rutt först!");
            $("#fromToDestination").show();
            $("#check-price-form").hide();
        } else {
            var username = $("#Username").val();
            $("#fromToDestination").hide();
            $("#check-price-form").show();
            $("#username").val(username);
            $("#fromname").val(travelfrom);
            $("#toname").val(travelto);
            $("#distance").val(distance);
        }
    });


   // Get price request from form
   $("#view-price-suggestions-btn").on("click", function () {
   $("#PriceSuggestion").show();
        var firstname=$("#firstname").val();
        var lastname=$("#lastname").val();
        var travelfrom=$("#dvOrigin").text();
        var travelto=$("#dvDestination").text();
        var distance=$("#dvDistance").text();
        var username=$("#Username").val();
        var residencearea=$("#residencearea").val();
        var windbasementarea=$("#windbasementarea").val();
        var pianostatus=$('input[name =pianostatus]').prop('checked');
        var packingstatus=$('input[name =packingstatus]').prop('checked');
        var datastring={ 'FirstName' : firstname, 'LastName' : lastname, 'UserName' : username, 'FromName' : travelfrom, 'ToName' : travelto, 'Distance' : distance, 'ResidenceArea' : residencearea, 'WindBaseMentArea' : windbasementarea, 'PianoStatus' : pianostatus, 'PackingStatus' : packingstatus }

        $.ajax({
        url: '/Home/GetOffer',
        type: 'GET',
        dataType: 'json',
        data: datastring,
        success: function (data, textStatus, xhr) {
            var el=data;
            var url="";
        $("#check-price-form").hide();
        $("#PriceSuggestion").html("<div class='<div class='container'>"
         + "</br><h1>Prisförslag på bohagsflytt</h1><form><div class='row'>"
         + "<div class='col-xs-12 col-sm-12 col-md-5 col-lg-5'><p></p><p></p><p></p>"
         + "<p></p><p><b>Offertnummer: </b><span id='latestid'>"
         + el.Id + "</span></p><p><b>Namn: </b>"
         + el.FirstName + " " + el.LastName + "</p><p><b>Användarnamn: </b>"
         + el.UserName + "</p><p><b>Från: </b>"
         + el.FromName + "</p><p><b>Till: </b>"
         + el.ToName + "</p><p><b>Sträcka: </b>"
         + el.Distance + "</p><p><b>Bostadsyta: </b>"
         + el.ResidenceArea + " kvm</p><p><b>Vind/Källare: </b>"
         + el.WindBaseMentArea + " kvm</p><p></p><p></p><p></p><br /><h4>Övrigt</h4><p><b>Pianoflytt:</b> <span id='pianostat'>"
         + (el.PianoStatus === true ? "Ja" : "Nej") + "</span></p><p><b>Packhjälp:</b> <span id='packingstat'>"
         + (el.PackingStatus === true ? "Ja" : "Nej") + "</span></p></div><div class='col-xs-12 col-sm-12 col-md-7 col-lg-7'>"
         + "<h3>Uppskattat pris är <span id='price'>"
         + el.Price + "</span> kr inklusive moms.</h3>"
         + "<h4>Vi sparar ditt prisförslag i 90 dagar</h4><br />"
         + "<h4>För att se prisförfrågan igen, besök:</h4><p></p>"
         + "<label class='price-suggestion' id='priceoffer-id' onClick='GetPriceOfferById(" + el.Id + ")'>" + url + "</label>"
         + "<br /><br /><h4>Om du har frågor kontakta:</h4>"
         + "<a class='contact' href='mailto:flytt@moveit.se'>flytt@moveit.se</a>"
         + "</div></div>"
         + "<p></p><p></p>"
         + "<div id='Message' class='message' data-value=" + "></div><p></p><p></p>"
         + "<div id='MessagePiano' class='message' data-value=" + "></div><p></p>"
         + "<div id='MessagePackingStatus' class='message' data-value=" + "></div><p></p>"
         + "<div class='form-group-btn'>"
         + "<input type='button' id=" + " order-movment-btn" + " onClick = 'Order()'" + " value = 'Beställ flytt' />&nbsp;&nbsp;"
         + "<input type='button' id='close-price-offer-btn' onClick='closePriceSuggestion()' value='Stäng' />"
         + "</div></form>")
          savePriceRequestToDatabase(el);
          GetLatestId()
        var price=$("#price").text();
            if (price == 0) {
               var msg=$("#Message").text("@Request.RequestContext.HttpContext.Session["Message"]");
               $("#Message").val(msg).data("value");
            } else {
               $("#Message").hide();
            }
            if (price == 0) {
                var msgpiano=$("#MessagePiano").text("@Request.RequestContext.HttpContext.Session["MessagePiano"]");
                $("#MessagePiano").val(msgpiano).data("value");
            } else {
            $("#Message").hide();
                    }
            if (price != 0) {
            var msgpackingstatus=$("#MessagePackingStatus").text("@Request.RequestContext.HttpContext.Session["MessagePackingStatus"]");
            $("#MessagePackingStatus").val(msgpackingstatus).data("value");
            } else {
            $("#MessagePackingStatus").hide();
            }
        },
        error: function (xhr, textStatus, errorThrown) {
        console.log('Error in Operation')
        }
    });
 });
</script>